.component-header {
	position: relative;
	height: 34px;
	line-height: 34px;
	background: #222;
	font-size: 14px;
	color: #fff;
	.br-3a {
		border-right: 1px solid #3a3a3a;
	}
	.login-btn {
    position: relative;
    background-color: #ED4040;
    color: #fff;
    width: 68px;
    text-align: center;
    z-index: 10;		
	}
}